.hero .carousel .carousel-inner .carousel-item {
  position: relative;
}

.hero .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero .carousel .carousel-inner .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 1000%;
  height: 100%;
  text-shadow: 2px 2px black;
  font-stretch: 200%;
}

.hero .carousel .carousel-inner .carousel-caption h1 {
  margin: 0;
  font-weight: 600;
  font-size: 3.3rem;
  color: white;
}

.carousel-caption p {
  font-size: 1.3rem;
}

/* Section 1 */
.img-section-1 {
  width: 550px;
  height: 400px;
}

.section-content-1 {
  width: 60%;
}

.section-content-1 h1 {
  text-align: center;
}

/* Section 2 */
.section-content-2 {
  width: 60%;
  position: relative;
}

.section-content-2 .iframe-section {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

/* Section 3 */
.section-content-3 {
  width: 60%;
  position: relative;
}

.section-content-3 a {
  text-decoration: none;
  color: #000;
}

.section-content-3 a:hover {
  color: #327a6d;
  text-decoration: underline;
}

.section-content-3 .swiper-1 {
  width: 100%;
  height: 100%;
}

.section-content-3 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}

.section-content-3 .swiper-pagination-1 {
  display: none;
}

.section-content-3 .swiper-button-prev-1,
.section-content-3 .swiper-button-next-1 {
  color: #327a6d;
}

.section-content-3 .section-card-content-3 .card img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

/* Section 4 */
.section-content-4 {
  width: 60vmax;
}

.section-content-4 canvas {
  width: 100%;
  height: 100%;
}

.section-content-4 .form-select {
  font-size: 1rem;
  text-align: left;
  max-width: 150px;
}

/* Section 5 */
.section-content-5 {
  width: 60%;
  position: relative;
}

.section-content-5 a {
  text-decoration: none;
  color: #000;
}

.section-content-5 a:hover {
  color: #327a6d;
  text-decoration: underline;
}

.section-content-5 .swiper-2 {
  width: 100%;
  height: 100%;
}

.section-content-5 .section-card-content-5 .card {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 350px;
  cursor: pointer;
}

.section-content-5 .section-card-content-5 .card:hover {
  transition: 0.2s ease-in;
}

.section-content-5 .section-card-content-5 .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-content-5 .swiper-pagination-2 {
  display: none;
}

.section-content-5 .swiper-button-prev-2,
.section-content-5 .swiper-button-next-2 {
  color: #327a6d;
}

/* Section 6 */
.section-content-6 {
  width: 60%;
  position: relative;
}
.section-content-6 .href-news {
  text-decoration: none;
  color: #000;
}

.section-content-6 .href-news:hover {
  color: #327a6d;
  text-decoration: underline;
}
.section-content-6 .swiper-3 {
  width: 100%;
  height: 100%;
}

.section-content-6 .section-card-content-6 .card {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 400px;
  cursor: pointer;
  border: none;
}

.section-content-6 .section-card-content-6 .card:hover {
  transition: 0.2s ease-in;
  color: #327a6d;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section-content-6 .section-card-content-6 .card img {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.section-content-6 .swiper-pagination-3 {
  display: none;
}

.section-content-6 .swiper-button-prev-3,
.section-content-6 .swiper-button-next-3 {
  color: #327a6d;
}

@media (max-width: 1650px) {
  html {
    font-size: 85%;
  }
  .section-content-1 {
    width: 75%;
  }
  .section-inner-content-1 .img-section-1 {
    width: 450px;
    height: 300px;
  }
  .section-content-2 {
    width: 75%;
  }
  .section-content-3 {
    width: 75%;
  }
  .section-content-4 {
    width: 75%;
  }

  .section-content-5 {
    width: 75%;
  }

  .section-content-6 {
    width: 75%;
  }
  .section-content-6 .section-card-content-6 .card img {
    height: 190px;
  }
}

@media (min-width: 600px) and (max-width: 1080px) {
  .hero .section-content-1 .section-inner-content-1 {
    flex-wrap: wrap;
    text-align: center;
  }
  .hero .section-content-2 .iframe-section {
    padding-bottom: 100%;
  }

  .section-content-3 {
    text-align: center;
  }

  .section-content-3 .section-card-content-3 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-content-3 .section-card-content-3 .card {
    width: 18rem;
  }
  .section-content-3 .section-card-content-3 .card img {
    height: 270px;
  }
  .section-content-4 {
    width: 100%;
  }
  .section-content-4 {
    text-align: center;
  }
  .section-content-4 .canvas-container {
    align-items: center;
    padding: 1rem;
  }
  .section-content-5 {
    text-align: center;
  }
  .section-content-6 {
    text-align: center;
  }
  .section-content-6 .section-card-content-6 .card img {
    height: 210px;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 85%;
  }
  .hero .carousel .carousel-inner .carousel-caption h1 {
    font-size: 1.9rem;
  }
  .carousel-caption p {
    font-size: 0.8rem;
  }
  .hero .section-content-1 .section-inner-content-1 {
    flex-wrap: wrap;
    text-align: center;
  }

  .section-inner-content-1 .img-section-1 {
    width: 300px;
    height: 240px;
  }
  .hero .section-content-2 {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
  }
  .section-content-2 h5 {
    font-size: 1rem;
  }
  .hero .section-content-2 .iframe-section {
    min-height: 70vh;
  }
  .section-content-3 {
    text-align: center;
  }
  .section-content-3 .section-card-content-3 {
    flex-wrap: wrap;
  }
  .section-content-3 .section-card-content-3 .card img {
    height: 280px;
  }
  .section-content-3 h5 {
    font-size: 1rem;
  }
  .section-content-4 {
    width: 100%;
    padding: 1rem;
  }
  .section-content-4 {
    text-align: center;
  }
  .section-content-4 .form-select {
    width: 90px;
  }
  .section-content-4 .canvas-container {
    align-items: center;
  }
  .section-content-4 h5 {
    font-size: 1rem;
  }
  .section-content-5 {
    text-align: center;
  }
  .section-content-5 h5 {
    font-size: 1rem;
  }
  .section-content-5 .section-card-content-5 {
    flex-wrap: wrap;
  }
  .section-content-6 {
    text-align: center;
  }
  .section-content-6 h5 {
    font-size: 1rem;
  }
  .section-content-6 .section-card-content-6 {
    flex-wrap: wrap;
  }
  .section-content-6 .section-card-content-6 .card img {
    height: 230px;
  }
}
