.section-news-1 {
  width: 60%;
}

.section-news-1 .card {
  width: 20rem;
}

.section-news-1 .card:hover {
  color: #327a6d;
}

.section-news-1 .btn {
  border: 1px solid #327a6d;
  color: #fff;
  background-color: transparent;
}

.section-news-1 .btn.active {
  background-color: #327a6d;
  color: white;
}

@media (max-width: 1650px) {
  .section-news-1 {
    width: 75%;
  }
}

@media (max-width: 580px) {
  .section-news-1 {
    width: 75%;
  }
}
